
CollegeServer/obj/project.nuget.cache
CollegeServer/obj/CollegeServer.csproj.nuget.dgspec.json
CollegeServer/obj/Debug/net5.0/CollegeServer.assets.cache
CollegeServer/obj/Debug/net5.0/CollegeServer.GeneratedMSBuildEditorConfig.editorconfig
CollegeServer/obj/project.assets.json
CollegeServer/obj/Debug/net5.0/CollegeServer.assets.cache
CollegeServer/obj/Debug/net5.0/CollegeServer.GeneratedMSBuildEditorConfig.editorconfig
CollegeServer/.vs/CollegeServer/DesignTimeBuild/.dtbcache.v2
CollegeServer/.vs/CollegeServer/v16/.suo
CollegeServer/obj/CollegeServer.csproj.nuget.dgspec.json
CollegeServer/obj/Debug/net5.0/apphost.exe
CollegeServer/obj/Debug/net5.0/CollegeServer.assets.cache
CollegeServer/obj/Debug/net5.0/CollegeServer.csproj.AssemblyReference.cache
CollegeServer/obj/Debug/net5.0/CollegeServer.GeneratedMSBuildEditorConfig.editorconfig
CollegeServer/obj/project.assets.json
CollegeServer/.vs/CollegeServer/config/applicationhost.config
CollegeServer/.vs/CollegeServer/DesignTimeBuild/.dtbcache.v2
CollegeServer/.vs/CollegeServer/v17/.futdcache.v1
CollegeServer/.vs/CollegeServer/v17/.suo
CollegeServer/obj/project.assets.json
CollegeServer/obj/Debug/net5.0/CollegeServer.GeneratedMSBuildEditorConfig.editorconfig
CollegeServer/obj/Debug/net5.0/CollegeServer.csproj.FileListAbsolute.txt
CollegeServer/bin/Debug/net5.0/CollegeServer.runtimeconfig.dev.json
