
CollegeServer/obj/project.nuget.cache
CollegeServer/obj/CollegeServer.csproj.nuget.dgspec.json
CollegeServer/obj/Debug/net5.0/CollegeServer.assets.cache
CollegeServer/obj/Debug/net5.0/CollegeServer.GeneratedMSBuildEditorConfig.editorconfig
CollegeServer/obj/project.assets.json
